@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

:root {
  /* Colours */
  --teal: #1f8591;
  --teal-light: #c0d1d3;
  --grey-light: #eee; /*ebebeb;*/ /*;*/
  --green: #368d00;
  --green-light: #dbf1cd;
  --grey: #686868;
  --red: #ca0000;
  --red-light: #e2bebe;
  --gold: #91841f;
  --gold-light: #e2d7be;
  --dark-gradient: linear-gradient(0deg, #222 0%, #111 20%, #0c0c0c 100%);
  --color-gradient: linear-gradient(
    40.79deg,
    var(--green) -106.9%,
    var(--teal) 93.69%
  );
  --color-gradient-text: linear-gradient(45deg, var(--green), var(--teal));
  --light-font: white;
  --dark-font: black;

  /* App Theme */
  /* Change this to set the app base bg color */
  --base-bg: white;
  /* Change this to set the app bg color */
  --light-bg: #f8f8f8;
  /* Change this to set the nav bg color */
  --nav-bg: #f3f3f3;
  --nav-item-bg: #f0efef;
  --nav-item-active-bg: var(--light-bg);
  /* Change this to set the toolbar colour */
  --toolbar-bg: #ececec; /*e6e6e6;*/
  /* Change this to set the tables, menus etc. colour */
  --structural-div-bg: var(--grey-light);
  /* Change this to set the bg color for components that need a darker backgrop, ex: canvas viewer */
  --backdrop-bg: #ddd;
  /* Change this to set the wizard backdrop colour */
  --wizard-bg: #f8f8f8;
  /* Change this to set the bg color for components of medium contrast */
  --dark-bg: #333;
  /* Change this to set the bg color for items of high contrast*/
  --darkest-bg: #222;
  /* Change this to set the bg color for overlays, ex: modal dimmer */
  --overlay-bg: rgba(0, 0, 0, 0.75);
  /* Change this to set the colour of inputs, text areas, and selects */
  --form-field-bg: white;
  /* Change this to set the default border colour for components, ex: inputs */
  --border-color: #ccc;
  /* Change this to set the font colour for the app */
  --base-font-color: var(--dark-font);

  /* Change these to set the interactive element colors, ex: alert, buttons */
  /* Primary */
  --primary: var(--teal);
  --primary-light: var(--teal-light);
  --primary-font: var(--light-font);
  /* Secondary */
  --secondary: var(--grey);
  --secondary-light: var(--grey-light);
  --secondary-font: var(--light-font);
  /* Success */
  --success: var(--green);
  --success-light: var(--green-light);
  --success-font: var(--light-font);
  /* Danger */
  --danger: var(--red);
  --danger-light: var(--red-light);
  --danger-font: var(--light-font);
  /* Warn */
  --warn: var(--gold);
  --warn-light: var(--gold-light);
  --warn-font: var(--light-font);

  /* Sizing */
  --lg-size: calc(var(--md-size) * 1.33);
  --md-size: 1rem;
  --sm-size: calc(var(--md-size) * 0.75);
  --viewport-scaling: 0.2vw;
  --border-radius: 0.25rem;
  --perfect-fourth-1: calc(var(--md-size) * 5.6 + var(--viewport-scaling));
  --perfect-fourth-2: calc(var(--md-size) * 4.2 + var(--viewport-scaling));
  --perfect-fourth-3: calc(var(--md-size) * 3.15 + var(--viewport-scaling));
  --perfect-fourth-4: calc(var(--md-size) * 2.36 + var(--viewport-scaling));
  --perfect-fourth-5: calc(var(--md-size) * 1.77 + var(--viewport-scaling));
  --perfect-fourth-6: calc(var(--lg-size) + var(--viewport-scaling));
  --perfect-fourth-7: calc(var(--md-size) + var(--viewport-scaling));
  --perfect-fourth-8: calc(var(--sm-size) + var(--viewport-scaling));
  --auto-grid-min-col-size: calc(var(--md-size) * 20);
  --auto-grid-min-row-size: calc(var(--lg-size) * 20);
  --auto-grid-gap: calc(var(--md-size) * 3);
  --margin-sm: var(--sm-size);
  --margin-md: var(--md-size);
  --margin-lg: var(--lg-size);
  --breakpoint-md: 37em;
  --breakpoint-lg: 62rem;

  /* Shadows */
  --shadow: drop-shadow(0px 0.125rem 0.25rem rgba(0, 0, 0, 0.25));
}

html {
  height: 100%;
}

/* Font defaults */
body,
pre {
  font-family: "Roboto", sans-serif !important;
  font-size: var(--perfect-fourth-7);
  color: var(--base-font-color);
  background-color: var(--base-bg);
}

/* Reactive margins */
.margin-sm {
  margin-top: calc(var(--margin-sm) + var(--viewport-scaling));
}

.margin-md {
  margin-top: calc(var(--margin-md) + var(--viewport-scaling));
}

.margin-lg {
  margin-top: calc(var(--margin-lg) + var(--viewport-scaling));
}

/* Screen reader accessible hiding 
Source: https://github.com/twbs/bootstrap/blob/main/scss/mixins/_visually-hidden.scss*/
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.opacity-hidden {
  opacity: 0;
  cursor: auto;
}
/* Hide content from user + screen reader until menu clicked.*/
.display-hidden {
  display: none;
}
.visibility-hidden {
  visibility: hidden;
}

/*
  AUTO GRID
  Set the minimum item size with `--auto-grid-min-size` and you’ll
  get a fully responsive grid with no media queries.
  https://piccalil.li/tutorial/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/
*/
.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-col-size), 1fr)
  );
  grid-auto-rows: auto;
  grid-gap: var(--auto-grid-gap);
}

/* Commonly used grids */
.grid {
  display: grid;
  gap: 2rem;
  align-items: center;
}

.grid__col_1 {
  grid-template-areas: "a";
}

.grid__col_2 {
  grid-template-areas: "a a";
}

.grid__col_3 {
  grid-template-areas: "a a a";
}

.grid__space-evenly {
  align-content: space-around;
  justify-content: space-between;
}

.grid__space-end {
  align-content: space-around;
  justify-content: end;
}

/* Flexbox alignment */
.auto-align {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.auto-align__block {
  display: flex;
}
.auto-align__full {
  width: 100%;
  height: 100%;
}
.auto-align__column {
  flex-direction: column;
}
.auto-align__j-center {
  justify-content: center;
}
.auto-align__j-end {
  justify-content: flex-end;
}
.auto-align__j-even {
  justify-content: space-evenly;
}
.auto-align__j-between {
  justify-content: space-between;
}
.auto-align__a-center {
  align-items: center;
}
.auto-align__a-baseline {
  align-items: baseline;
}
.auto-align__a-end {
  align-items: flex-end;
}
.auto-align__a-stretch {
  align-items: stretch;
}
.auto-align__wrap {
  flex-wrap: wrap;
}

/* Hero element defaults. */
.hero {
  padding: var(--perfect-fourth-1) 0;
  background-color: var(--structural-div-bg);
}

.hero.hero__gradient {
  background: var(--color-gradient);
  /*color: var(--primary-font);*/
}

/* Wrapper util - default page margins */
.wrapper {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 90rem;
}
.wrapper.md {
  max-width: 90rem;
}
.wrapper.lg {
  max-width: 116rem;
}

.center {
  padding-top: var(--perfect-fourth-1);
  text-align: center;
}

/* Break out of the mould of your fixed-width container to create visual interest - see: https://piccalil.li/tutorial/creating-a-full-bleed-css-utility/ */
.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

/* Force content to 100% page height */
.full-page {
  height: 100vh;
}

/* Make the element align itself to the left/right */
.float__left {
  float: left;
}
.float__right {
  float: right;
}

/* Box sizing rules, see: https://piccalil.li/blog/a-modern-css-reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

input:disabled {
  cursor: not-allowed !important;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Element defauls*/

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0 !important;
}

h1 {
  font-size: var(--perfect-fourth-1);
}

h2 {
  font-size: var(--perfect-fourth-2);
}

h3 {
  font-size: var(--perfect-fourth-3);
}

h4 {
  font-size: var(--perfect-fourth-4);
}

h5 {
  font-size: var(--perfect-fourth-5);
}

h6 {
  font-size: var(--perfect-fourth-6);
}

button,
.shadow {
  filter: var(--shadow);
}

button,
.button {
  padding: 0 var(--perfect-fourth-4);
  height: var(--perfect-fourth-2);
  border: none;
  box-shadow: none;
  border-radius: var(--border-radius);
  font-weight: 400;
  cursor: pointer;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button.sm,
.button.sm {
  /*padding: var(--perfect-fourth-8) var(--perfect-fourth-6);*/
  padding: 0 0.5rem;
  height: 2.2rem;
}

button.lg,
.button.lg {
  padding: var(--perfect-fourth-7) var(--perfect-fourth-3);
}

button.primary,
.button.primary {
  background-color: var(--primary);
  color: var(--primary-font) !important;
}
button.ghost.dark,
.button.ghost.dark {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: rgba(0, 0, 0, 0.7) !important;
}
button.ghost.light,
.button.ghost.light {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

button.ghost.warn,
.button.ghost.warn {
  background-color: rgba(190, 140, 46, 0.2) !important;
}

button.ghost.danger,
.button.ghost.danger {
  background-color: rgba(146, 0, 0, 0.2) !important;
}

button.secondary,
.button.secondary {
  background-color: var(--secondary);
  color: var(--secondary-font) !important;
}

button.fancy,
.button.fancy {
  background: var(--colour-gradient);
  color: var(--primary-font);
}

button.save,
.button.save {
  background-color: var(--success);
  color: var(--success-font);
}

button.danger,
.button.danger {
  background-color: var(--danger);
  color: var(--danger-font);
}

button:hover,
.button:hover,
.clickable:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

button .icon,
.button .icon {
  margin-right: 0.5rem;
  margin-left: -1rem;
}

.back-button {
  width: var(--perfect-fourth-4);
  height: var(--perfect-fourth-4);
  margin-right: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.back-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.icon-button {
  padding: 0 var(--perfect-fourth-6);
}

.button-icon {
  width: var(--perfect-fourth-6);
  height: var(--perfect-fourth-6);
  margin: 0;
}
button:disabled {
  background-color: var(--grey-light) !important;
  color: var(--grey) !important;
  filter: none !important;
  cursor: not-allowed !important;
}

label {
  padding-bottom: 0.5rem;
}

textarea,
input,
select {
  border: 1px solid var(--border-color);
  margin-top: 0.25rem;
  outline: none;
  padding: var(--perfect-fourth-8);
  border-radius: var(--border-radius);
  background-color: var(--form-field-bg);
  color: var(--base-font-color);
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

a {
  color: inherit !important;
}

/* Table settings */
table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  /*border-radius: var(--border-radius);
  border: solid var(--border-color) 1px;*/
}

caption {
  text-align: left;
  padding: 1rem;
}

thead {
  background: var(--backdrop-bg);
}

tbody {
  background: var(--structural-div-bg);
}

tbody tr.clickable:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

/*
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.02);
}*/

thead th {
  padding: 1rem;
  /*font-weight: bold;*/
}

th {
  font-weight: normal !important;
}
th.sm {
  padding: 0.5rem;
}
th.center {
  text-align: center;
}

td {
  padding: 1rem;
}

/* Used to add a '...' cut-off to text */

.clamp {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Override textbox defaults to make them suit theme */

input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"]:checked {
  filter: sepia() hue-rotate(140deg) brightness(1.1);
}

/* Icon wrapper defaults */
.action.icon {
  cursor: pointer;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
}

.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

/* Tooltip styles, see: https://codepen.io/tutsplus/pen/WROvdG */
[data-tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all data-tooltips */
[data-tooltip]::before,
[data-tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 0.9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[data-tooltip]::before {
  content: "";
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[data-tooltip]::after {
  content: attr(data-tooltip); /* magic! */

  /* most of the rest of this is opinion */
  /*text-align: center;*/

  /* 
    Let the content set the size of the data-tooltips 
    but this will also keep them from being obnoxious
    */
  /*min-width: 3em;
  max-width: 21em;
  white-space: nowrap;*/
  text-align: left;
  max-width: 9em;
  min-width: 9em;
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: var(--border-radius);
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: var(--secondary);
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the data-tooltips respond to hover */
[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: block;
}

/* don't show empty data-tooltips */
[data-tooltip=""]::before,
[data-tooltip=""]::after {
  display: none !important;
}

/* FLOW: UP */
[data-tooltip]:not([data-tooltip-flow])::before,
[data-tooltip][data-tooltip-flow^="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: var(--secondary);
}
[data-tooltip]:not([data-tooltip-flow])::after,
[data-tooltip][data-tooltip-flow^="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-tooltip-flow])::before,
[data-tooltip]:not([data-tooltip-flow])::after,
[data-tooltip][data-tooltip-flow^="top"]::before,
[data-tooltip][data-tooltip-flow^="top"]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */
[data-tooltip][data-tooltip-flow^="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: var(--secondary);
}
[data-tooltip][data-tooltip-flow^="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-tooltip-flow^="bottom"]::before,
[data-tooltip][data-tooltip-flow^="bottom"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */
[data-tooltip][data-tooltip-flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: var(--secondary);
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}
[data-tooltip][data-tooltip-flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%);
}

/* FLOW: RIGHT */
[data-tooltip][data-tooltip-flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: var(--secondary);
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%);
}
[data-tooltip][data-tooltip-flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%);
}

/* KEYFRAMES */
@keyframes data-tooltips-vert {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes data-tooltips-horz {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

[data-tooltip]:not([data-tooltip-flow]):hover::before,
[data-tooltip]:not([data-tooltip-flow]):hover::after,
[data-tooltip][data-tooltip-flow^="top"]:hover::before,
[data-tooltip][data-tooltip-flow^="top"]:hover::after,
[data-tooltip][data-tooltip-flow^="bottom"]:hover::before,
[data-tooltip][data-tooltip-flow^="bottom"]:hover::after {
  animation: data-tooltips-vert 300ms ease-out forwards;
}

[data-tooltip][data-tooltip-flow^="left"]:hover::before,
[data-tooltip][data-tooltip-flow^="left"]:hover::after,
[data-tooltip][data-tooltip-flow^="right"]:hover::before,
[data-tooltip][data-tooltip-flow^="right"]:hover::after {
  animation: data-tooltips-horz 300ms ease-out forwards;
}

/* Alert styles */

.alert {
  padding: var(--perfect-fourth-8);
  border-radius: var(--border-radius);
  background-color: var(--primary-light);
  color: var(--primary);
  border: 1px solid var(--primary);
  width: 100%;
}

.alert-success {
  background-color: var(--success-light);
  color: var(--success);
  border: 1px solid var(--success);
}

.alert-warn {
  background-color: var(--warn-light);
  color: var(--warn);
  border: 1px solid var(--warn);
}

.alert-danger {
  background-color: var(--danger-light);
  color: var(--danger);
  border: 1px solid var(--danger);
}

/* Fieldset */

fieldset {
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  padding: 2rem;
  border-radius: var(--border-radius);
}

/* Pulse animation */
.pulsate {
  animation: pulsate 3s ease-out infinite;
  opacity: 0.5;
}
@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

/* To be used surrounding code like the JsonTree*/
.code-block {
  border: 1px solid var(--border-color);
  padding: var(--perfect-fourth-6) var(--perfect-fourth-8);
  margin: var(--margin-sm);
  white-space: pre-line;
  border-radius: var(--border-radius);
  background-color: var(--base-bg);
}

.chip {
  border-radius: var(--border-radius);
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--primary);
  background-color: var(--primary-light);
  color: var(--primary);
  display: inline;
}

/* Date Range Picker, see: https://flatpickr.js.org/options/ */
.flatpickr-calendar {
  background: transparent;
  opacity: 0;
  display: none;
  text-align: center;
  visibility: hidden;
  padding: 0;
  -webkit-animation: none;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: var(--border-radius);
  position: absolute;
  width: 307.875px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background: #fff;
  -webkit-box-shadow: 1px 0 0 var(--structural-div-bg),
    -1px 0 0 var(--structural-div-bg), 0 1px 0 var(--structural-div-bg),
    0 -1px 0 var(--structural-div-bg), 0 3px 13px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0 0 var(--structural-div-bg),
    -1px 0 0 var(--structural-div-bg), 0 1px 0 var(--structural-div-bg),
    0 -1px 0 var(--structural-div-bg), 0 3px 13px rgba(0, 0, 0, 0.08);
}
.flatpickr-calendar.open,
.flatpickr-calendar.inline {
  opacity: 1;
  max-height: 640px;
  visibility: visible;
}
.flatpickr-calendar.open {
  display: inline-block;
  z-index: 99999;
}
.flatpickr-calendar.animate.open {
  -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.flatpickr-calendar.inline {
  display: block;
  position: relative;
  top: 2px;
}
.flatpickr-calendar.static {
  position: absolute;
  top: calc(100% + 2px);
}
.flatpickr-calendar.static.open {
  z-index: 999;
  display: block;
}
.flatpickr-calendar.multiMonth
  .flatpickr-days
  .dayContainer:nth-child(n + 1)
  .flatpickr-day.inRange:nth-child(7n + 7) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.flatpickr-calendar.multiMonth
  .flatpickr-days
  .dayContainer:nth-child(n + 2)
  .flatpickr-day.inRange:nth-child(7n + 1) {
  -webkit-box-shadow: -2px 0 0 var(--structural-div-bg),
    5px 0 0 var(--structural-div-bg);
  box-shadow: -2px 0 0 var(--structural-div-bg),
    5px 0 0 var(--structural-div-bg);
}
.flatpickr-calendar .hasWeeks .dayContainer,
.flatpickr-calendar .hasTime .dayContainer {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.flatpickr-calendar .hasWeeks .dayContainer {
  border-left: 0;
}
.flatpickr-calendar.hasTime .flatpickr-time {
  height: 40px;
  border-top: 1px solid var(--structural-div-bg);
}
.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
  height: auto;
}
.flatpickr-calendar:before,
.flatpickr-calendar:after {
  position: absolute;
  display: block;
  pointer-events: none;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  left: 22px;
}
.flatpickr-calendar.rightMost:before,
.flatpickr-calendar.arrowRight:before,
.flatpickr-calendar.rightMost:after,
.flatpickr-calendar.arrowRight:after {
  left: auto;
  right: 22px;
}
.flatpickr-calendar.arrowCenter:before,
.flatpickr-calendar.arrowCenter:after {
  left: 50%;
  right: 50%;
}
.flatpickr-calendar:before {
  border-width: 5px;
  margin: 0 -5px;
}
.flatpickr-calendar:after {
  border-width: 4px;
  margin: 0 -4px;
}
.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
  bottom: 100%;
}
.flatpickr-calendar.arrowTop:before {
  border-bottom-color: var(--structural-div-bg);
}
.flatpickr-calendar.arrowTop:after {
  border-bottom-color: var(--base-bg);
}
.flatpickr-calendar.arrowBottom:before,
.flatpickr-calendar.arrowBottom:after {
  top: 100%;
}
.flatpickr-calendar.arrowBottom:before {
  border-top-color: var(--structural-div-bg);
}
.flatpickr-calendar.arrowBottom:after {
  border-top-color: var(--base-bg);
}
.flatpickr-calendar:focus {
  outline: 0;
}
.flatpickr-wrapper {
  position: relative;
  display: inline-block;
}
.flatpickr-months {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flatpickr-months .flatpickr-month {
  background: transparent;
  color: var(--grey);
  fill: var(--grey);
  height: 34px;
  line-height: 1;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 34px;
  padding: 10px;
  z-index: 3;
  color: var(--grey);
  fill: var(--grey);
}
.flatpickr-months .flatpickr-prev-month.flatpickr-disabled,
.flatpickr-months .flatpickr-next-month.flatpickr-disabled {
  display: none;
}
.flatpickr-months .flatpickr-prev-month i,
.flatpickr-months .flatpickr-next-month i {
  position: relative;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  /*
      /*rtl:begin:ignore*/
  /*
      */
  left: 0;
  /*
      /*rtl:end:ignore*/
  /*
      */
}
/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  /*
      /*rtl:begin:ignore*/
  /*
      */
  right: 0;
  /*
      /*rtl:end:ignore*/
  /*
      */
}
/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
  color: var(--primary);
}
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: var(--primary);
}
.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  width: 14px;
  height: 14px;
}
.flatpickr-months .flatpickr-prev-month svg path,
.flatpickr-months .flatpickr-next-month svg path {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: inherit;
}
.numInputWrapper {
  position: relative;
  height: auto;
}
.numInputWrapper input,
.numInputWrapper span {
  display: inline-block;
}
.numInputWrapper input {
  width: 100%;
}
.numInputWrapper input::-ms-clear {
  display: none;
}
.numInputWrapper input::-webkit-outer-spin-button,
.numInputWrapper input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
.numInputWrapper span {
  position: absolute;
  right: 0;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  border: 1px solid rgba(64, 72, 72, 0.15);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.numInputWrapper span:hover {
  background: rgba(0, 0, 0, 0.1);
}
.numInputWrapper span:active {
  background: rgba(0, 0, 0, 0.2);
}
.numInputWrapper span:after {
  display: block;
  content: "";
  position: absolute;
}
.numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0;
}
.numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(64, 72, 72, 0.6);
  top: 26%;
}
.numInputWrapper span.arrowDown {
  top: 50%;
}
.numInputWrapper span.arrowDown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(64, 72, 72, 0.6);
  top: 40%;
}
.numInputWrapper span svg {
  width: inherit;
  height: auto;
}
.numInputWrapper span svg path {
  fill: rgba(60, 63, 64, 0.5);
}
.numInputWrapper:hover {
  background: rgba(0, 0, 0, 0.05);
}
.numInputWrapper:hover span {
  opacity: 1;
}
.flatpickr-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  padding: 7.48px 0 0 0;
  line-height: 1;
  height: 34px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.flatpickr-current-month span.cur-month {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  margin-left: 0.5ch;
  padding: 0;
}
.flatpickr-current-month span.cur-month:hover {
  background: rgba(0, 0, 0, 0.05);
}
.flatpickr-current-month .numInputWrapper {
  width: 6ch;
  width: 7ch\0;
  display: inline-block;
}
.flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: var(--grey);
}
.flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: var(--grey);
}
.flatpickr-current-month input.cur-year {
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: text;
  padding: 0 0 0 0.5ch;
  margin: 0;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  line-height: inherit;
  height: auto;
  border: 0;
  border-radius: 0;
  vertical-align: initial;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.flatpickr-current-month input.cur-year:focus {
  outline: 0;
}
.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(60, 63, 64, 0.5);
  background: transparent;
  pointer-events: none;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
  appearance: menulist;
  background: transparent;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  height: auto;
  line-height: inherit;
  margin: -1px 0 0 0;
  outline: none;
  padding: 0 0 0 0.5ch;
  position: relative;
  vertical-align: initial;
  -webkit-box-sizing: border-box;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  width: auto;
}
.flatpickr-current-month .flatpickr-monthDropdown-months:focus,
.flatpickr-current-month .flatpickr-monthDropdown-months:active {
  outline: none;
}
.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
  background: rgba(0, 0, 0, 0.05);
}
.flatpickr-current-month
  .flatpickr-monthDropdown-months
  .flatpickr-monthDropdown-month {
  background-color: transparent;
  outline: none;
  padding: 0;
}
.flatpickr-weekdays {
  background: transparent;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 28px;
}
.flatpickr-weekdays .flatpickr-weekdaycontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
span.flatpickr-weekday {
  cursor: default;
  font-size: 90%;
  background: transparent;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1;
  margin: 0;
  text-align: center;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: bolder;
}
.dayContainer,
.flatpickr-weeks {
  padding: 1px 0 0 0;
}
.flatpickr-days {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 307.875px;
}
.flatpickr-days:focus {
  outline: 0;
}
.dayContainer {
  padding: 0;
  outline: 0;
  text-align: left;
  width: 307.875px;
  min-width: 307.875px;
  max-width: 307.875px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}
.dayContainer + .dayContainer {
  -webkit-box-shadow: -1px 0 0 var(--structural-div-bg);
  box-shadow: -1px 0 0 var(--structural-div-bg);
}
.flatpickr-day {
  background: none;
  border: 1px solid transparent;
  border-radius: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #404848;
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  -webkit-flex-basis: 14.2857143%;
  -ms-flex-preferred-size: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 39px;
  height: 39px;
  line-height: 39px;
  margin: 0;
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: var(--structural-div-bg);
  /*border-color: var(--border-color);*/
}
.flatpickr-day.today {
  border-color: var(--primary);
}
.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
  border-color: var(--primary);
  background: var(--primary);
  color: var(--light-font);
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: var(--green);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: var(--light-font);
  border-color: var(--green-light);
}
.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange,
.flatpickr-day.endRange.startRange {
  border-radius: 50px 0 0 50px;
}
.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange,
.flatpickr-day.endRange.endRange {
  border-radius: 0 50px 50px 0;
}
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  -webkit-box-shadow: -10px 0 0 var(--green-light);
  box-shadow: -10px 0 0 var(--green-light);
}
.flatpickr-day.selected.startRange.endRange,
.flatpickr-day.startRange.startRange.endRange,
.flatpickr-day.endRange.startRange.endRange {
  border-radius: 50px;
}
.flatpickr-day.inRange {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 var(--structural-div-bg),
    5px 0 0 var(--structural-div-bg);
  box-shadow: -5px 0 0 var(--structural-div-bg),
    5px 0 0 var(--structural-div-bg);
}
.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  color: rgba(64, 72, 72, 0.3);
  background: transparent;
  border-color: var(--structural-div-bg);
  cursor: default;
}
.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
  cursor: not-allowed;
  color: rgba(64, 72, 72, 0.1);
}
.flatpickr-day.week.selected {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 var(--green-light), 5px 0 0 var(--green-light);
  box-shadow: -5px 0 0 var(--green-light), 5px 0 0 var(--green-light);
}
.flatpickr-day.hidden {
  visibility: hidden;
}
.rangeMode .flatpickr-day {
  margin-top: 1px;
}
.flatpickr-weekwrapper {
  float: left;
}
.flatpickr-weekwrapper .flatpickr-weeks {
  padding: 0 12px;
  -webkit-box-shadow: 1px 0 0 var(--structural-div-bg);
  box-shadow: 1px 0 0 var(--structural-div-bg);
}
.flatpickr-weekwrapper .flatpickr-weekday {
  float: none;
  width: 100%;
  line-height: 28px;
}
.flatpickr-weekwrapper span.flatpickr-day,
.flatpickr-weekwrapper span.flatpickr-day:hover {
  display: block;
  width: 100%;
  max-width: none;
  color: rgba(64, 72, 72, 0.3);
  background: transparent;
  cursor: default;
  border: none;
}
.flatpickr-innerContainer {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.flatpickr-rContainer {
  display: inline-block;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flatpickr-time {
  text-align: center;
  outline: 0;
  display: block;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flatpickr-time:after {
  content: "";
  display: table;
  clear: both;
}
.flatpickr-time .numInputWrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 40%;
  height: 40px;
  float: left;
}
.flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: var(--grey);
}
.flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: var(--grey);
}
.flatpickr-time.hasSeconds .numInputWrapper {
  width: 26%;
}
.flatpickr-time.time24hr .numInputWrapper {
  width: 49%;
}
.flatpickr-time input {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  color: #404848;
  font-size: 14px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.flatpickr-time input.flatpickr-hour {
  font-weight: bold;
}
.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second {
  font-weight: 400;
}
.flatpickr-time input:focus {
  outline: 0;
  border: 0;
}
.flatpickr-time .flatpickr-time-separator,
.flatpickr-time .flatpickr-am-pm {
  height: inherit;
  float: left;
  line-height: inherit;
  color: #404848;
  font-weight: bold;
  width: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.flatpickr-time .flatpickr-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
}
.flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
  background: #f1f1f1;
}
.flatpickr-input[readonly] {
  cursor: pointer;
}
@-webkit-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.flatpickr-calendar {
  width: 307.875px;
}
.dayContainer {
  padding: 0;
  border-right: 0;
}
span.flatpickr-day,
span.flatpickr-day.prevMonthDay,
span.flatpickr-day.nextMonthDay {
  border-radius: 0 !important;
  border: 1px solid var(--structural-div-bg);
  max-width: none;
  border-right-color: transparent;
}
span.flatpickr-day:nth-child(n + 8),
span.flatpickr-day.prevMonthDay:nth-child(n + 8),
span.flatpickr-day.nextMonthDay:nth-child(n + 8) {
  border-top-color: transparent;
}
span.flatpickr-day:nth-child(7n-6),
span.flatpickr-day.prevMonthDay:nth-child(7n-6),
span.flatpickr-day.nextMonthDay:nth-child(7n-6) {
  border-left: 0;
}
span.flatpickr-day:nth-child(n + 36),
span.flatpickr-day.prevMonthDay:nth-child(n + 36),
span.flatpickr-day.nextMonthDay:nth-child(n + 36) {
  border-bottom: 0;
}
span.flatpickr-day:nth-child(-n + 7),
span.flatpickr-day.prevMonthDay:nth-child(-n + 7),
span.flatpickr-day.nextMonthDay:nth-child(-n + 7) {
  margin-top: 0;
}
span.flatpickr-day.today:not(.selected),
span.flatpickr-day.prevMonthDay.today:not(.selected),
span.flatpickr-day.nextMonthDay.today:not(.selected) {
  border-color: var(--structural-div-bg);
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: var(--primary);
}
span.flatpickr-day.today:not(.selected):hover,
span.flatpickr-day.prevMonthDay.today:not(.selected):hover,
span.flatpickr-day.nextMonthDay.today:not(.selected):hover {
  border: 1px solid var(--primary);
}
span.flatpickr-day.startRange,
span.flatpickr-day.prevMonthDay.startRange,
span.flatpickr-day.nextMonthDay.startRange,
span.flatpickr-day.endRange,
span.flatpickr-day.prevMonthDay.endRange,
span.flatpickr-day.nextMonthDay.endRange {
  border-color: var(--green-light);
}
span.flatpickr-day.today,
span.flatpickr-day.prevMonthDay.today,
span.flatpickr-day.nextMonthDay.today,
span.flatpickr-day.selected,
span.flatpickr-day.prevMonthDay.selected,
span.flatpickr-day.nextMonthDay.selected {
  z-index: 2;
}
.rangeMode .flatpickr-day {
  margin-top: -1px;
}
.flatpickr-weekwrapper .flatpickr-weeks {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.flatpickr-weekwrapper span.flatpickr-day {
  border: 0;
  margin: -1px 0 0 -1px;
}
.hasWeeks .flatpickr-days {
  border-right: 0;
}

@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  span.flatpickr-day {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}
.flatpickr-date-filter-label {
  margin-right: var(--margin-sm);
}
